{% extends "blog/blog_base.html" %}


{% block header %}
<h2> {{post.title}} </h2>
{% endblock %}

{% block content %}
    <div class="post_title">
        <p><b>{{post.title}}</b></p>
    </div>

    <div class="post_date">
        <p> {{post.created}} </p>
    </div>

    <div class="post_summary">
        <p>{{post.body}}</p>
    </div>

    <h3>Comments:</h3>
    {% load comments %}
    {% get_comment_list for post as comments %}

    {% if not comments %}
        <p>No comments to display... yet!</p>
    {% else %}
        {% for comment in comments %}
            <div class="comment">
                <p>{{comment.user|title}}</p>
                <p>{{comment.site}}</p>
                <p>{{comment.comment}}</p>
                <p></p>
            </div>
        {% endfor %}
    {% endif %}

    {% get_comment_form for post as form %}
    <h3>Comment</h3>

    <div id="comment_form">
        {% render_comment_form for post %}
    </div>

<script type="text/javascript" charset="utf-8">
    function bindPostCommentHandler() {
        $('#comment_form form input.submit-preview').remove();
        $('#comment_form form').submit(function() {
            $.ajax({
                type: "POST",
                data: $('#comment_form form').serialize(),
                url: "{% comment_form_target %}",
                cache: false,
                dataType: "html",
                success: function(html, textStatus) {
                    $('#comment_form form').replaceWith(html);
                    bindPostCommentHandler();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                }
            });
            return false;
        });
    }

    $(document).ready(function() {
        bindPostCommentHandler();
    });
</script>

{% endblock %}
