{% extends "blog/blog_base.html" %}

{% load comments %}


{% block header %}
<h2> Blog Posts </h2>
{% endblock %}

{% block content %}
    {% if object_list %}
        <ul>
            {% for post in object_list %}
            <div class="title"><a href="{% url slug_view post.slug %}"> {{ post.title }} </a> </div>
                <ul>
                    <div class="time">{{ post.created }}</div>
                    {% if post.body|length > 200 %}
                        <div class="summary">{{ post.body|linebreaks|slice:":200" }} ...</div>
                    {% else %}
                        <div class="summary">{{ post.body|linebreaks }} <div>
                    {% endif %}

                    {% get_comment_count for post as num_comments %}
                    <div class="comments"> # of comments: {{ num_comments }} </div>
                </ul>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blog posts are available.</p>
    {% endif %}

{% if is_paginated %}
    {% load pagination %}
    {% paginate 3 %}
{% endif %}

{% endblock %}
