{% extends "blog/blog_base.html" %}

{% block content %}

    {% if posts %}
        <ul>
        {% for post in posts %}
        <div class="title"><a href="{{url slug_view post.slug}}"> {{ post.title }} HAHAHA </a> </div>
            <ul>
                <div class="time">{{ post.created }}</div>
                {% if post.body|length > 200 %}
                    <div class="summary">{{ post.body|linebreaks|slice:":200" }} ...</div>
                {% else %}
                    <div class="summary">{{ post.body|linebreaks }} <div>
                {% endif %}
                <div class="comments"> # of comments: {{post.comment_set.count}} </div>
            </ul>
        {% endfor %}
        </ul>

    {% block pagination %}
        {{block.super}}
    {% endblock %}

    {% endif %}
{% endblock %}
