<!DOCTYPE html>
<html>
<head>
    {% block head %}{% endblock %}
    <link href="/media/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/media/jquery.min.js"></script>
    {% block title %}{% endblock %}
</head>

<body>

    <div id="header">
        <h2>Default Header</h2>
        <div class="user_menu">
            {% if user.is_authenticated %}
                <a href="/accounts/logout">Logout</a>
            {% else %}
                <a href="/accounts/logout">Login</a> or
                <a href="/accounts/register">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="colmask leftmenu">
        <div class="colleft">
            <div class="col1">
                {% block content %}
                Default Content
                {% endblock %}
            </div>
            <div class="col2">
                <a href="/"> <p>Home</p> </a>
                <a href="/polls"> <p> Go to Polls</p> </a>
                <a href="/blog"> <p>Go to the Blog </p> </a>
                <a href="/wiki"> <p>Go to the Wiki</p></a>
            </div>
        </div>
    </div>

    <div id="footer">
        {% block footer %}
        <p> default footer text </p>
        {% endblock %}
    </div>

</body>

</html>
